@model IEnumerable<ShopTFTEC.WebApp.Models.ProductViewModel>

<div id="carouselProdutos" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img style="max-width:100%" src="~/images/13.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img style="max-width:100%" src="~/images/12.png" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item">
            <img style="max-width:100%" src="~/images/30.png" class="d-block w-100" alt="">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProdutos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselProdutos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<form>
    <div class="container row">
        @foreach (var product in Model)
        {
            <div class="col-md-3 mb-2">
                <a href="/Home/ProductDetails/@product.Id">
                    <div class="card">
                        <img class="img-thumbnail" src="@product.ImageURL">
                        <div class="card-body">
                            <h5 class="card-title mb-2">
                                @product.Name
                            </h5>
                            <p class="cart-text text-black">
                                <b>@product.Price.ToString("C")</b>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</form>